
body{
    background-color:rgb(32, 29, 29)
}
h1{
    font-family: sans-serif;
    font-weight: 900;
    width: 240px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.756);
}
.clock{
    position:relative;
    height: 300px;
    width: 300px;
    background-color: white;
    box-shadow: grey 3px 3px 3px inset, grey 4px -4px 3px inset, grey -4px 4px 3px inset, grey -4px -4px 3px inset;
    border: 20px solid purple;
    border-radius: 50%;
    margin:auto;
    margin-top: 20px;
}
.time{
    font-size: 20px;
    font-family: sans-serif;
    
}
.axis{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
    top:136px;
    left:130px;
    position: relative;
    z-index: 2;
}
.minute_hand{
    position:absolute;
    top:28px;
    left:140px;
    height:120px;
    width: 8px;
    background-color: black;
    transform-origin: bottom;
}
.hour_hand{
    position:absolute;
    top:54px;
    left:140px;
    height:90px;
    width: 8px;
    background-color: rgb(163, 72, 72);
    transform-origin: bottom;
}
.sec_hand{
    position:absolute;
    top:45px;
    left:142px;
    height:100px;
    width: 5px;
    background-color: rgb(46, 49, 181);
    transform-origin: bottom;
}
#clock12{
    position:absolute;
    top:10px;
    left:135px;
}
#clock11{
    position:absolute;
    top:30px;
    left:80px;
}
#clock10{
    position:absolute;
    top:80px;
    left:40px;
}
#clock9{
    position:absolute;
    left:10px;
    top:135px;
}
