
body{
    background-color:#1e1e1e;
    
}
.main{
    margin-top:5vh;
}
h1{
    font-family: sans-serif;
    font-weight: 900;
    width: 240px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    background-color: steelblue;
    border-radius: 10px;
}
.clock{
    position:relative;
    height: 300px;
    width: 300px;
    background-color:whitesmoke ;
    border: 20px solid #63462D;
    border-radius: 50%;
    margin:auto;
    margin-top: 20px;
}
.time{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    
}
.axis{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    position:absolute;
    top:138px;
    left:130px;
    position: relative;
    z-index: 2;
}
.minute_hand{
    position:absolute;
    top:35px;
    left:140px;
    height:120px;
    width: 8px;
    background-color: black;
    transform-origin: bottom;
}
.hour_hand{
    position:absolute;
    top:50px;
    left:140px;
    height:90px;
    width: 8px;
    background-color: rgb(163, 72, 72);
    transform-origin: bottom;
}
.sec_hand{
    position:absolute;
    top:40px;
    left:142px;
    height:100px;
    width: 5px;
    background-color: rgb(46, 49, 181);
    transform-origin: bottom;
}
#clock12{
    position:absolute;
    top:10px;
    left:135px;
}
#clock11{
    position:absolute;
    top:30px;
    left:80px;
}
#clock10{
    position:absolute;
    top:80px;
    left:40px;
}
#clock9{
    position:absolute;
    left:10px;
    top:135px;
}

#clock8{
    position:absolute;
    bottom:80px;
    left:40px;
}
#clock7{
    position:absolute;
    bottom:30px;
    left:80px;
}
#clock6{
    position:absolute;
    bottom:10px;
    left:135px;
}
#clock5{
    position:absolute;
    bottom:30px;
    right:80px;
}
#clock4{
    position:absolute;
    bottom:80px;
    right:40px;
}
#clock3{
    position:absolute;
    right:10px;
    top:135px;
}
#clock2{
    position:absolute;
    top:80px;
    right:40px;
}     
#clock1{
    position:absolute;
    top:30px;
    right:80px;
}